@font-face {
    font-family: 'promo'; 
    src: url('ressources/font-family/OhMyBaby-x3nLr.ttf') format('truetype'); /
   
    
}
body{
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
overflow-x: hidden;
font-family: 'promo';
}
h1{
    width: 25%;
    margin: 3% auto;
    background: linear-gradient(90deg, rgba(238,174,202,1) 18%, rgba(121,174,237,1) 72%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4em;
    
    /* background: radial-gradient(circle, rgba(238,174,202,1) 18%, rgba(148,187,233,1) 73%); */
}

img{
 width: 58%;
}

#contain-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    /* gap: 10%; */
    
}
.image{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}
#contain-images .image:first-child {
    
    justify-content: flex-end;
}

#contain-images .image:nth-child(n+2) {
    justify-content: flex-start;
}
#contain-images .image:nth-child(n+3) {
    justify-content: flex-end;
}
#contain-images .image:nth-child(n+4) {
    justify-content: flex-start;
}
#contain-images .image:nth-child(n+5) {
    justify-content: flex-end;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Appliquez l'animation aux images */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromTop 1s ease-in-out; /* Ajustez la durée selon vos préférences */
}

/* Animation de mouvement circulaire sur elle-même */
@keyframes rotateCircular {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
}

/* Appliquez l'animation aux images après l'apparition */
.image.circular {
    
    animation: rotateCircular 3s linear infinite; /* Ajustez la durée et d'autres propriétés selon vos préférences */
}


/* Media query pour les petits écrans mobiles (ex. : iPhone SE) */
@media (max-width: 320px) {
    /* Styles spécifiques aux petits écrans mobiles */
   
    /* Ajoutez d'autres styles spécifiques aux petits écrans ici */
}

/* Media query pour les écrans mobiles de taille moyenne (ex. : iPhone 8, XR) */
@media (min-width: 321px) and (max-width: 767px) {
    /* Styles spécifiques aux écrans mobiles de taille moyenne */
    #contain-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        /* gap: 10%; */
    }
    h1{
        font-size: 2.2em;
        width: 70%;
    }

    img{
        width: 60%;
       }
    

    #contain-images .image:first-child {
    
        justify-content: center;
    }
    
    #contain-images .image:nth-child(n+2) {
        justify-content: center;
    }
    #contain-images .image:nth-child(n+3) {
        justify-content: center;
    }
    #contain-images .image:nth-child(n+4) {
        justify-content: center;
    }
    #contain-images .image:nth-child(n+5) {
        justify-content: center;
    }
    /* Ajoutez d'autres styles spécifiques aux écrans de taille moyenne ici */
}

/* Media query pour les grands écrans mobiles (ex. : iPhone 11 Pro Max, Galaxy S21) */
@media (min-width: 768px) {
    /* Styles spécifiques aux grands écrans mobiles */
    body {
        background-color: #e0e0e0;
        font-size: 16px;
    }
    /* Ajoutez d'autres styles spécifiques aux grands écrans mobiles ici */
}