@font-face {
    font-family: 'promo'; 
    src: url('ressources/font-family/OhMyBaby-x3nLr.ttf') format('truetype'); /
}
/* *{
    border: 1px solid red;
} */
html, body {
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
font-family: 'promo';
}
h1{
    width: 50%;
    margin: 3% auto;
    background: linear-gradient(90deg, rgba(238,174,202,1) 18%, rgba(121,174,237,1) 72%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4em;
    
    /* background: radial-gradient(circle, rgba(238,174,202,1) 18%, rgba(148,187,233,1) 73%); */
}

img{
 width: 58%;
}

#contain-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    width: 100%;
    /* gap: 10%; */
    
}
.image{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}
#contain-images .image:first-child {
    
    justify-content: flex-end;
}

#contain-images .image:nth-child(n+2) {
    justify-content: flex-start;
}
#contain-images .image:nth-child(n+3) {
    justify-content: flex-end;
}
#contain-images .image:nth-child(n+4) {
    justify-content: flex-start;
}
#contain-images .image:nth-child(n+5) {
    justify-content: flex-end;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Appliquez l'animation aux images */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromTop 1s ease-in-out; /* Ajustez la durée selon vos préférences */
}

/* Animation de mouvement circulaire sur elle-même */
@keyframes rotateCircular {
    0%, 50% {
        transform: rotate(6deg);
    }
    0%, 100% {
        transform: rotate(-6deg); 
    }
}

/* Applique l'animation aux images après l'apparition */
.image.circular {
    width: auto;
    max-width: 100%;
    animation: rotateCircular 3s linear infinite; 
}






/* Media query pour les grands écrans mobiles (ex. : iPhone 11 Pro Max, Galaxy S21) */
@media (min-width: 768px) and (max-width:998px) {
  h1{
    font-size:3em;
    width: 50%;
  }

  img{
    width: 80%;
   }
}





/* Media query pour les écrans mobiles de taille moyenne (ex. : iPhone 8, XR) */
@media (min-width: 321px) and (max-width: 767px) {
    /* Styles spécifiques aux écrans mobiles de taille moyenne */
    #contain-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        /* gap: 10%; */
    }
    h1{
        font-size: 2.2em;
        width: 70%;
    }

    img{
        width: 80%;
       }
    

    #contain-images .image:first-child {
    
        justify-content: center;
    }
    
    #contain-images .image:nth-child(n+2) {
        justify-content: center;
    }
    #contain-images .image:nth-child(n+3) {
        justify-content: center;
    }
    #contain-images .image:nth-child(n+4) {
        justify-content: center;
    }
    #contain-images .image:nth-child(n+5) {
        justify-content: center;
    }
    /* Ajoutez d'autres styles spécifiques aux écrans de taille moyenne ici */
}



/* Media query pour les petits écrans mobiles (ex. : iPhone SE) */
@media (max-width: 320px) {
    #contain-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        /* gap: 10%; */
    }
    h1{
        font-size:2em;
        width: 80%;
    }

    img{
        width: 80%;
       }
    

    #contain-images .image:first-child {
    
        justify-content: center;
    }
    
    #contain-images .image:nth-child(n+2) {
        justify-content: center;
    }
    #contain-images .image:nth-child(n+3) {
        justify-content: center;
    }
    #contain-images .image:nth-child(n+4) {
        justify-content: center;
    }
    #contain-images .image:nth-child(n+5) {
        justify-content: center;
    }
}